// reset bootstrap
$body-color: #424242;
$link-color: #373737;

//color
$color-banner-title: #3f4041;
$color-copyright: #656565;
$color-address: #363636;
$color-link: #20397c;
$color-yellow: #ffe400;
$color-price: #757575;
$color-charlestonGreen: #2a2a2a;
$color-charlestonGreen2: #232a35;
$color-jet: #343434;
$color-whiteLight: #fefefe;
$color-input: #272626;
$color-oldSilver: #838383;

//bg color
$bg-footer: #f5f5f5;
$bg-slick-arrow: #f1f1f1;

//border color
$border-color-tags: #828282;
$border-color-input: #c3c3c3;

//shadow color
//$shadow-color: #5a4743;
